<div class="card">
    <div class="card_image">
        <img src="{%URL%}" alt="" />
    </div>
    <div class="detail">
        <div class="meta">
            <h4>{%TITLE%}</h4>
            <p>
                <span>by {%AUTHOR%}</span>
                <span> / {%PUBLISHED%}</span>
            </p>
            <p>{%READINGTIME%} read</p>
            <p>{%TOPIC%}</p>
        </div>
        <div class="summary">
            <p>
                {%SUMMARY%}
                <a href="/article?id={%ID%}">read more...</a>
            </p>
        </div>
    </div>
</div>
